node_modules/
dist/
designs/
recycle/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/**/coverage/
gitpush.sh

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
